<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                      <h4 class="card-title">Ingresar Datos</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="accountDetailsForm" novalidate (ngSubmit)="onSubmitAccountDetails(accountDetailsForm.value)">
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-select matNativeControl formControlName="rol" [(ngModel)]="selectedRol" name="rol" placeholder="Rol" required>
                                            <mat-option *ngFor="let rol of roles" [value]="rol.value">
                                                {{rol.viewValue}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngFor="let validation of account_validation_messages.rol">
                                            <mat-error *ngIf="accountDetailsForm.get('rol').hasError(validation.type) && (accountDetailsForm.get('rol').dirty || accountDetailsForm.get('rol').touched)">{{validation.message}}</mat-error>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Correo Electrónico" formControlName="email" [(ngModel)]="email" type="email" autocomplete="new-email" required>
                                        <mat-error *ngFor="let validation of account_validation_messages.email">
                                            <mat-error *ngIf="accountDetailsForm.get('email').hasError(validation.type) 
                                                        && (accountDetailsForm.get('email').dirty 
                                                        || accountDetailsForm.get('email').touched)">
                                                        {{validation.message}}
                                            </mat-error>
                                        </mat-error>
                                    </mat-form-field>
                                    <div class="col-md-3"></div>
                                </div>
                            </div>
                            <div formGroupName="matching_passwords">
                                <div class="row">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Contraseña" formControlName="password" [(ngModel)]="password" [type]="hide ? 'password' : 'text'" autocomplete="new-password" required/>
                                            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                            <mat-hint *ngFor="let validation of account_validation_messages.password">
                                                <mat-hint *ngIf="accountDetailsForm.get('matching_passwords').get('password').hasError(validation.type) 
                                                            && (accountDetailsForm.get('matching_passwords').get('password').dirty 
                                                            || accountDetailsForm.get('matching_passwords').get('password').touched)">
                                                            {{validation.message}}
                                                </mat-hint>
                                            </mat-hint>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Confirmar Contraseña" formControlName="confirm_password" id="confirm_password" type="password" [errorStateMatcher]="parentErrorStateMatcher" required/>
                                            <mat-error *ngFor="let validation of account_validation_messages.confirm_password">
                                                <mat-error *ngIf="(accountDetailsForm.get('matching_passwords').get('confirm_password').hasError(validation.type) 
                                                            || accountDetailsForm.get('matching_passwords').hasError(validation.type))
                                                            && (accountDetailsForm.get('matching_passwords').get('confirm_password').dirty 
                                                            || accountDetailsForm.get('matching_passwords').get('confirm_password').touched)">
                                                            {{validation.message}}
                                                </mat-error>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                            </div>
                            <button [disabled]="!accountDetailsForm.valid" mat-raised-button type="submit" class="btn btn-danger pull-right">Registrar Datos</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  
