<div class="limiter">
    <div class="container-login100" >
      <div class="wrap-login100">
        <div class="login100-form validate-form">
          <span class="login100-form-logo mb-3">
            <img src="assets/img/finky_logo.png" width="100px">
          </span>
  
          <span class="login100-form-title p-b-34 p-t-27">
            Inicia Sesión
          </span>
  
          <div>
            <form [formGroup]="loginForm" >
              <div class="wrap-input100 validate-input">
                <input class="form-control" type="text" placeholder="Usuario" id="username" [(ngModel)]="login.username"
                formControlName="username" autocomplete="on">
              </div>
              <div class="validation-error">
                <ng-container  *ngFor="let validation of validation_messages.username">
                      <div
                        *ngIf="
                          loginForm.get('username')?.hasError(validation.type) &&
                          (loginForm.get('username')?.dirty || loginForm.get('username')?.touched)
                        "
                      >
                        {{ validation.message }}
                      </div>
                </ng-container>
              </div>
  
              <div class="wrap-input100 validate-input">
                <!-- <label class="label-form"><i class="pe-7s-{{ typeDataPass ? 'unlock' : 'lock' }} "
                  (click)="typeDataPass = !typeDataPass" style="cursor: pointer;"></i></label>
                <input class="form-control" type="{{ typeDataPass ? 'text' : 'password' }}" id="password" [(ngModel)]="login.password"
                formControlName="password" autocomplete="off" placeholder="Contraseña" />
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" (click)="typeDataPass = !typeDataPass"><i
                      class="fa fa-times"></i></button>
                </div> -->
                <div class="input-group">
                  <input class="form-control" type="{{ typeDataPass ? 'text' : 'password' }}" id="password" [(ngModel)]="login.password"
                  formControlName="password" autocomplete="off" placeholder="Contraseña" />
                  <div class="input-group-append">
                    <button class="btn btn-light  active" type="button" (click)="typeDataPass = !typeDataPass"><i
                      class="fa fa-{{ typeDataPass ? 'eye' : 'eye-slash' }}"></i></button>
                  </div>
                </div>
              </div>
  
              <div class="validation-error">
                <ng-container *ngFor="let validation of validation_messages.password">
                      <div
                        *ngIf="
                          loginForm.get('password')?.hasError(validation.type) &&
                          (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)
                        "
                      >
                        {{ validation.message }}
                      </div>
                </ng-container>
              </div>
  
              <div class="container-login100-form-btn">
                <button class="login100-form-btn" type="submit" (click)="loginAdmin()">
                  Ingresar
                </button>
              </div>
            </form>
  
          </div>
  
        </div>
      </div>
    </div>
  </div>
