<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                    <h4 class="card-title">Complete los Datos</h4>
                  </div>
                  <div class="card-body">
                      <form [formGroup]="facilitatorForm">
                          <div class="row">
                            <div class="col-md-3">
                              <mat-form-field class="example-full-width">
                                <mat-select matNativeControl [(ngModel)]="selectedIdentification" formControlName="selectedIdentification" name="selectedIdentification" placeholder="Tipo Identificación" required>
                                  <mat-option *ngFor="let identification of identifications" [value]="identification.id">
                                    {{identification.typeIdentification}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                            <div class="col-md-3">
                              <mat-form-field class="example-full-width">
                                <input matInput type="text" placeholder="Número de Identificación" formControlName="identification" [(ngModel)]="identification" (ngModelChange)="beneficiary($event)" required>
                                <mat-error *ngFor="let validation of account_validation_messages.identification">
                                  <mat-error *ngIf="facilitatorForm.get('identification').hasError(validation.type) 
                                              && (facilitatorForm.get('identification').dirty 
                                              || facilitatorForm.get('identification').touched)">
                                              {{validation.message}}
                                  </mat-error>
                                </mat-error>
                              </mat-form-field>
                            </div>
                            <div class="col-md-3">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Móvil" formControlName="movil" type="tel" [(ngModel)]="movil" name="movil" required>
                              </mat-form-field>
                            </div>
                            <div class="col-md-3">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Unidad Familiar" formControlName="familyUnit" min="1" max="20" type="number" [(ngModel)]="familyUnit" name="familyUnit" required>
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Nombres" formControlName="names" type="text" [(ngModel)]="names" name="names" required>
                              </mat-form-field>
                            </div>
                            <div class="col-md-3">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Primer Apellido" formControlName="lastname" type="text" [(ngModel)]="lastname" name="lastname" required>
                              </mat-form-field>
                            </div>
                            <div class="col-md-3">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Segundo Apellido" formControlName="secondname" type="text" [(ngModel)]="secondname" name="secondname" required>
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-3">
                              <mat-form-field class="example-full-width">
                                <mat-select matNativeControl [(ngModel)]="selectedLocation" name="selectedLocation" placeholder="Localidad" formControlName="selectedLocation" required>
                                  <mat-option *ngFor="let location of locations" [value]="location.id">
                                    {{location.nameMunicipality}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                            <div class="col-md-3">
                              <mat-form-field class="example-full-width">
                                <mat-select matNativeControl [(ngModel)]="selectedTypeRoad" name="selectedTypeRoad" placeholder="Tipo de Calle" formControlName="selectedTypeRoad" required>
                                  <mat-option *ngFor="let typeRoad of typeRoads" [value]="typeRoad.id">
                                    {{typeRoad.keyRoad}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                            <div class="col-md-3">
                              <mat-form-field class="example-full-width">
                                <mat-select matNativeControl [(ngModel)]="selectedNameRoad" name="selectedNameRoad" placeholder="Nombre Calle" formControlName="selectedNameRoad" required>
                                  <mat-option *ngFor="let nameRoad of nameRoads" [value]="nameRoad.id">
                                    {{nameRoad.name}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                            <div class="col-md-3">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Otros Datos" formControlName="otherData" type="text" [(ngModel)]="otherData" name="otherData" required>
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <mat-select matNativeControl [(ngModel)]="selectedCountry" name="selectedCountry" placeholder="Nacionalidad" formControlName="selectedCountry" required>
                                  <mat-option *ngFor="let country of countries" [value]="country.id">
                                    {{country.nombre}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <mat-label>Fecha de nacimiento</mat-label>
                                <input matInput [min]="minDate" [max]="maxDate" formControlName="bornDate" [matDatepicker]="picker" [(ngModel)]="bornDate" name="bornDate" required>
                                <mat-hint>DD/MM/YYYY</mat-hint>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                              </mat-form-field>
                            </div>
                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <mat-label>Fecha Venc. Padrón</mat-label>
                                <input matInput [min]="minDateExpiration" [max]="maxDateExpiration" formControlName="statusDocumentation" [matDatepicker]="picker" [(ngModel)]="statusDocumentation" name="statusDocumentation" required>
                                <mat-hint>DD/MM/YYYY</mat-hint>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                              <mat-form-field class="example-full-width">
                                <textarea matInput hidden></textarea>
                                <div class="signature-pad example-full-width">
                                  <div class="signature-pad--body">
                                    <canvas #sPad width="490px" height="250px" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete($event)" style="touch-action: none;" required></canvas>
                                  </div>
                                </div>
                                <button mat-raised-button class="btn btn-secondary pull-left" type="submit" (click)="clearSignature()">Limpiar Firma</button>
                                <button mat-raised-button class="btn btn-secondary pull-right" type="submit" (click)="drawComplete($event)">Grabar Firma</button>                  
                              </mat-form-field>
                            </div>
                            <div class="col-md-3"></div>
                          </div>
                          <button mat-raised-button [disabled]="!facilitatorForm.valid || !signaturValidator || !validation_repeat_dni" (click)="onSubmitAccountDetails(null)" type="submit" class="btn btn-danger pull-right">Registrar Datos</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
